
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.sides
{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 50vh;
}

.left{
    display: inline-block;
    border-radius: 3px;
    width: 200px;
    height: 200px;
    text-align: left;
}

.right {
    display: inline-block;
    border-radius: 3px;
    width: 200px;
    height: 200px;
    text-align: right;
}

.center{
    border-radius: 3px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.tab {
    margin-left: 200px;
}

.smalltab {
    margin-left: 20px;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.titleboxes {
  background-color: #fcfcfc;
  border: .5px solid #c1c1c1;
  display: block;
  padding: 5px;
}

pre {
    white-space: pre-wrap;
    background: hsl(30,80%,90%);
}
