{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About {% endblock %}

<!-- Content -->
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <div class="tab">
        <h2>Inspiration</h2>
        <h5>This is my community project for my Data Visualization class at Columbia.</h5>
        <h5>In order to help me study what charts are best for what type of data,</h5>
        <h5>I chose to make an app that would explain it.</h5>
        <br>
        <h4>This app guides the user through different types</h4>
        <h4>of data and charts that are best to explore findings with.</h4>
        <br>
        <p>You may notice no mention of piecharts.</p>
        <p>That's because what can be communicated with a pie chart, bar graphs and histograms could communicate it better.</p>
        <p>There are mixed emotions on pie charts, that I will not get into. Use them at your own risk. I'm avoiding them for now.</p>
        <br>
        <h3>Tools:</h3>
        <h5>Python (Flask)</h5>
        <h5>Heroku</h5>
        <h5>R Studio</h5>
        <br>
        <h5>Author: <a href="https://github.com/odubno">Oleh Dubno</a></h5>
        <br><br>
        <div class="fixed-bottom text-center">
            <form action="{{ url_for('index') }}">
                <button class="btn btn-primary btn-lg">Back To Charts</button>
            </form>
        </div>
    </div>
{% endblock %}