{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
                <a class="navbar-brand" href="{{ url_for('resources') }}">Resources</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About Resources {% endblock %}

<!-- Content -->
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <div class="tab">
        <h1>About</h1>
        <h4>
            This is a useful study guide of some, definetely not all, charts that are out there.
            Much of the words used, to explain the charts, have been pulled and summarized from
            class slides, discussions, textbook and online source. Please see the <a href="{{ url_for('resources') }}">Resources</a> tab above.
        </h4>
        <h2>Inspiration</h2>
        <h5>
            This is my community project for the Data Visualization class at Columbia.
            In order to help me study different types of charts,
            I decided to make an app that I could always refer to.
        </h5>
        <br>
        <h4>This web app skims the surface of some common plots typically used and showcases their pros and cons</h4>
        <br>
        <p>
            You may notice the lack of piecharts.
            Bar graphs and histograms already do a great job communicating what one may want to communicate in a piechart.
            There are mixed emotions on pie charts, that I will not get into. Use them at your own risk. I'm avoiding them here.
        </p>
        <br>
        <h3>Tools:</h3>
        <h5>Python (Flask)</h5>
        <h5>Heroku</h5>
        <h5>R Studio</h5>
        <br>
        <h5>Author: <a href="https://github.com/odubno">Oleh Dubno</a></h5>
        <br><br>
        <div class="fixed-bottom text-center">
            <form action="{{ url_for('index') }}">
                <button class="btn btn-primary btn-lg">Back To Charts</button>
            </form>
        </div>
    </div>
{% endblock %}