{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About {% endblock %}

<!-- Content -->
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <center>
        <div class="sides">
            <div class="left">
                <form action="templates/ordinal.html">
                    <a action="{{ url_for('ordinal') }}">
                        <img src="static/img/nominal.png" alt="quantitative" height="130" width="180">
                    </a>
                    <button class="btn btn-primary btn-lg">Nominal Data</button>
                </form>
            </div>
            <br>
            <div class="right">
                <a action="templates/ordinal.html">
                    <img src="static/img/ordinal.png" alt="quantitative" height="130" width="180">
                </a>
                <form action="{{ url_for('ordinal') }}">
                    <button class="btn btn-primary btn-lg">Ordinal Data</button>
                </form>
            </div>
        </div>
		<br>
		<br>
		<br>
		<br>
		<form action="{{ url_for('index') }}">
            <button class="btn btn-primary btn-lg">Back</button>
        </form>
    </center>

{% endblock %}