{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
				<a class="navbar-brand" href="{{ url_for('resources') }}">Resources</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About Resources {% endblock %}

<!-- Content -->
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<div>
		<center>
			<h1>Continuous</h1>
			<div class="sides">
				<div class="left">
					<center><h3>Single Variable</h3></center>
					<div class="boxes">
						<center>
							<h5><a href="{{url_for('scatter_plot') }}">Histogram</a></h5>
							<a href="{{url_for('scatter_plot') }}">
							<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
							</a>
						</center>
					</div>
					<div class="boxes">
						<center>
							<h5><a href="{{url_for('scatter_plot') }}">Dot Plot</a></h5>
							<a href="{{url_for('scatter_plot') }}">
							<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
							</a>
						</center>
					</div>
					<div class="boxes">
						<center>
							<h5><a href="{{url_for('scatter_plot') }}">Box Plots</a></h5>
							<a href="{{url_for('scatter_plot') }}">
							<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
							</a>
						</center>
					</div>

				</div>
				<div class="center">
					<center><h3>Two Variables</h3></center>
					<div class="boxes">
						<h5><a href="{{url_for('scatter_plot') }}">Scatter Plot</a></h5>
						<a href="{{url_for('scatter_plot') }}">
						<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
						</a>
					</div>
				</div>
				<div class="right">
					<center><h3>Multivariable</h3></center>
					<div class="boxes">
						<center>
							<h5><a href="{{url_for('parallel_coordinate') }}">Parallel Coordinate</a></h5>
							<a href="{{url_for('scatter_plot') }}">
							<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
							</a>
						</center>
					</div>
					<div class="boxes">
						<center>
							<h5><a href="{{url_for('scatter_plot') }}">Scatter Plot Matrix</a></h5>
							<a href="{{url_for('scatter_plot') }}">
							<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
							</a>
						</center>
					</div>
					<div class="boxes">
						<center>
							<h5><a href="{{url_for('scatter_plot') }}">Mosaic Plot</a></h5>
							<a href="{{url_for('scatter_plot') }}">
							<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
							</a>
						</center>
					</div>
				</div>
			</div>
		</center>
	</div>
	<div>
		<center>

				<form action="{{ url_for('quantitative') }}">
					<button class="btn btn-primary btn-lg">Back</button>
				</form>

		</center>
	</div>
{% endblock %}