{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
                <a class="navbar-brand" href="{{ url_for('resources') }}">Resources</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About Resources{% endblock %}

<!-- Content -->
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <center>
        <div class="sides">
            <div class="left">
                <img src="static/img/quantitative.png" alt="quantitative" height="150" width="150">
                <form action="{{ url_for('quantitative') }}">
                    <p>Numeric</p>
                    <button class="btn btn-primary btn-lg">Quantitative Data</button>
                </form>
            </div>
            <br>
            <div class="right">
                <img src="static/img/categorical.png" alt="categorical" height="150" width="150">
                <form action="{{ url_for('categorical') }}">
                    <p>Non-Numeric</p>
                    <button class="btn btn-primary btn-lg" >Categorical Data</button>
                </form>
            </div>
        </div>
    </center>

{% endblock %}