{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
				<a class="navbar-brand" href="{{ url_for('resources') }}">Resources</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About Resources {% endblock %}

<!-- Content -->
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<center>
		<h1>Nominal</h1>
		<div class="center">
			<div class="boxes">
				<center>
					<h5><a href="{{url_for('parallel_coordinate') }}">Histogram</a></h5>
					<a href="{{url_for('scatter_plot') }}">
					<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
					</a>
				</center>
			</div>
			<div class="boxes">
				<center>
					<h5><a href="{{url_for('scatter_plot') }}">Bar Chart</a></h5>
					<a href="{{url_for('scatter_plot') }}">
					<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
					</a>
				</center>
			</div>
			<div class="boxes">
				<center>
					<h5><a href="{{url_for('scatter_plot') }}">Column Chart</a></h5>
					<a href="{{url_for('scatter_plot') }}">
					<img src="static/img/scatter_plot.png" alt="scatter_plot" height="50" width="100">
					</a>
				</center>
			</div>
			<br>
			<div>
				<form action="{{ url_for('categorical') }}">
					<button class="btn btn-primary btn-lg">Back</button>
				</form>
			</div>
			<!--http://smallbusiness.chron.com/type-chart-used-show-discrete-data-81968.h?-->
		</div>

	</center>
{% endblock %}