{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About {% endblock %}

<!-- Content -->
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<center>
		<h1>Parallel Coordinate</h1>
		<p>Parallel coordinate plots offer lot of options for plotting awesome multivariate plots.</p>
		<p>Main points</p>
		<p>1. Parallel coordinate plots are a powerful multivariate display, showing all contin- uous variables at once (e.g., Figures 6.1 and 6.10).</p>
		<p>2. There are many pcp display options in addition to the usual formatting options applicable to other graphics: the choice of variables, the order of variables, what scaling is used, and how the axes are aligned (§6.7). Choosing good options is important. Figures 6.14 and 6.19 give examples.</p>
		<p>3. pcp's are helpful for exploring and evaluating the results of analyses such as dis- criminant or cluster analyses (cf. Figure 6.6). They are also useful for checking multivariate outliers, which will be further discussed in §9.3.</p>
		<p>4. pcp's are an alternative means for presenting multiple regularly spaced time se- ries and offer the option of a cross-sectional view of the series (§6.5 and Fig- ure 6.9).</p>
		<p>5. pcp's are informative for displaying indices and their component parts together (§6.6).</p>
		<p>6. You may need to draw several pcp’s to uncover the different features in a dataset and other graphics will be useful as well (e.g., the various displays of the food dataset in Figures 6.1 to 6.4).</p>
        <p>6.3: "[Wegman, 1990] suggested that it is possible to identify many different multivariate features in parallel coordinate plots. This can be true in particular applications, but in general the claim is too optimistic. What is definitely true is that having identified outliers, correlations, or clusters with analytic approaches, parallel coordinate plots are very useful for checking the results."</p>
		<p></p>
		<div>
			<form action="{{ url_for('continuous') }}">
				<button class="btn btn-primary btn-lg">Back</button>
			</form>
		</div>
	</center>
{% endblock %}