{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
                <a class="navbar-brand" href="{{ url_for('resources') }}">Resources</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About Resources {% endblock %}

<!-- Content -->
{% block content %}


    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <center>
        <div class="sides">
            <div class="left">
                <img src="static/img/continuous.png" alt="quantitative" height="90" width="150">
                <form action="{{ url_for('continuous') }}">
                    <button class="btn btn-primary btn-lg">Continuous Data</button>
                </form>
            </div>
            <br>
            <div class="right">
                <img src="static/img/discrete.png" alt="quantitative" height="90" width="150">
                <form action="{{ url_for('discrete') }}">
                    <button class="btn btn-primary btn-lg">Discrete Data</button>
                </form>
            </div>
        </div>
		<br>
		<br>
		<br>
		<br>
		<form action="{{ url_for('index') }}">
            <button class="btn btn-primary btn-lg">Back</button>
        </form>
    </center>

{% endblock %}