{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
                <a class="navbar-brand" href="{{ url_for('resources') }}">Resources</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About Resources{% endblock %}

<!-- Content -->
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

		<h1>Resources</h1>
		<ul>Site: <a target="_blank" href="https://sebastianbarfort.github.io/sds/slides/lecture3.html">Data Visualization in R Lecture</a></ul>
		<ul>Site: <a target="_blank" href="https://www.r-graph-gallery.com/all-graphs/">The R Graph Gallery</a></ul>
		<ul>Site: <a target="_blank" href="https://www.statmethods.net/graphs/index.html">Statmethods - Graphs</a></ul>
		<ul>Site: <a target="_blank" href="http://ggplot2.tidyverse.org/reference/">Tidyverse Reference</a></ul>
		<ul>Site: <a target="_blank" href="http://www.physics.csbsju.edu/stats/box2.html">Box Plot: Display of Distribution</a></ul>
		<ul>Book: <a target="_blank" href="https://www.amazon.com/Graphical-Data-Analysis-Chapman-Hall/dp/1498715230">Graphical Data Analysis with R by Antony Unwin</a></ul>

{% endblock %}