{% extends 'bootstrap/base.html' %}

<!-- Navigation Block -->
{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
                <a class="navbar-brand" href="{{ url_for('resources') }}">Resources</a>
			</div>
		</div>
	</nav>
{% endblock %}

<!-- Content Block -->
{% block page_title %} Home About Resources{% endblock %}

<!-- Content -->
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

		<center>
			<h1>Resources</h1>

			<ul>https://sebastianbarfort.github.io/sds/slides/lecture3.html#30</ul>
			<ul>https://www.r-graph-gallery.com/all-graphs/</ul>
			<ul>https://www.statmethods.net/graphs/index.html</ul>
			<ul>http://ggplot2.tidyverse.org/reference/</ul>
		</center>

{% endblock %}